<h2 class="title"> <%= @post.title %> </h2>
<div class="content">
<% @post.content.split("-").each do |paragraph| %>
  <p><%= paragraph %></p>
<% end %>
</div>
<div class="taglist">
Filed under:
<ul class="links">
  <% @post.tags.each do |tag| %>
    <li class="inline"><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
  <% end %>
</ul>
<form method="link" action="/posts/edit/<%= @post.id %>">
  <input type="submit" value="Edit this post">
</form>
